#footer{
    margin:0px;
    position: relative;
    list-style: none
}

#footer .copyright{
    color: white;
    padding-block: 15px;
    background-color: #037BC0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#footer .contenedor{
    color: black;
    text-align: center;
    padding-block: 15px;
    background-color: rgb(222,222,222);
    width: 100%;
}

#footer .contenedor{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#footer article {
    margin: 15px;
    width: 200px;
}