#productos2 .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#productos2 article {
    margin: 15px;
    text-align: center;
    position: relative;
    background: #037BC0;
    color: white;
    padding-bottom: 10px;
}

#productos2 img {
    width: 100%;
    max-width: 435px;
}

/* BOTON */
#productos2 a {
    display: inline-block;
    width: 150px;
    color: white;
    text-decoration: none;
    padding: 7px;
    margin-top: 7px;
    border: 2px solid rgb(83, 208, 0);
    background: rgb(83, 208, 0);
    transition: 0.2s ease;
}

#productos2 a:hover{
    background: rgba(57, 148, 0, 0.8);
}
/* BOTON */